[Unit]
Description=Oscillate Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/oscillate/build/release/bin/oscillated --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc
Restart=always
User=oscillatedaemon

[Install]
WantedBy=multi-user.target
