[Unit]
Description=Arqma Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/arqma/build/release/bin/arqmad --rpc-bind-ip 127.0.0.1 --detach --restricted-rpc
Restart=always
User=arqmadaemon

[Install]
WantedBy=multi-user.target
